{{ define "main" }}
	<section class="py-8">
		{{ range where site.RegularPages "Section" "eq" .Site.Params.bannerSection }}
			<div class="flex max-w-4xl mx-auto">
				<div class="flex flex-col justify-center w-3/5 bg-yellow px-12 py-8">
					<h2 class="text-red text-7xl font-extrabold w-3/4">
						{{ .Title }}
					</h2>

					<div class="text-green text-2xl mt-8">
						{{ .Content }}
					</div>
				</div>
				<div class="w-2/5">
					{{ with .Resources.Get .Params.image }}
						<img src="{{ .RelPermalink }}" class="w-full h-full object-center object-cover">
					{{ end }}
				</div>
			</div>
		{{ end }}
	</section>

	{{ range where site.RegularPages "Section" "eq" .Site.Params.homeSection }}
	<h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
	{{ .Summary }}
	{{ end }}
{{ end }}
